* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

.header img {
  width: 136px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right a {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.header-right select {
  padding: 4px 8px;
  border-radius: 4px;
}

/* header end */
