* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.678);
}

.header img {
  width: 136px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right a {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.header-right select {
  padding: 4px 8px;
  border-radius: 4px;
}

/* header end */

/* hero section start */

.hero-section {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  height: 88vh;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 900;
}

.pricing-para {
  padding: 24px 0;
}

.hero-section form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 42px; */
}

.hero-section form input {
  width: 360px;
  height: 48px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(72, 72, 72);
  color: white;
}

.hero-section form button {
  height: 48px;
  width: 200px;
  font-size: 20px;
  background-color: red;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
}
